<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manu</title>
    <link rel="stylesheet" href="../stylesheets/manu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
     <div class="container">
         <input type="checkbox" name="checkbox" class="checkbox">
         <label for="checkbox"></label>
         <ul class="manu">
             <li class="manu-item">
                 <a href="#" class="fab fa-google"></a>
             </li>
             <li class="manu-item">
                <a href="#" class="fab fa-facebook"></a>
            </li>
            <li class="manu-item">
                <a href="#" class="fab fa-"></a>
            </li>
            <li class="manu-item">
                <a href="#" class="fab fa-linkedin"></a>
            </li>
            <li class="manu-item">
                <a href="#" class="fab fa-twitter"></a>
            </li>
            <li class="manu-item">
                <a href="#" class="fab fa-instagram"></a>
            </li>
         </ul>
     </div>
</body>
</html>