<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="../stylesheets/slider.css">
</head>
<body>
  <div class="banner1">
      <img src="../images/slider1.jpg" alt="" >
      <div class="textbox">
          <h1></h1>
      </div>
  </div>
</body>
</html>