<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider2</title>
    <link rel="stylesheet" href="../stylesheets/slider3.css">
</head>
<body>
    <div class="slide hi-slide">
   <div class="hi-prevq"></div>
   <div class="hi-next"></div>
  <ul>
      <li>
          <img src="" alt="">
      </li>
  </ul>
    </div>
</body>
</html>