<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="../stylesheets/slider.css">
</head>
<body>
  <div class="banner1">
      <img src="../images/slider1.jpg" alt="" >
      <div class="textbox textbox1">
          <h1>Silence Is Not Enough</h1>
          <span></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed libero doloribus autem iure officia ullam, doloremque numquam, molestiae voluptatibus quidem itaque suscipit consequatur ipsum nihil!</p>
      </div>
  </div>
  <div class="banner2">
    <img src="../images/slider2.jpg" alt="" >
    <div class="textbox textbox2">
        <h1>Future Of Next Generation</h1>
        <span></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed libero doloribus autem iure officia ullam, doloremque numquam, molestiae voluptatibus quidem itaque suscipit consequatur ipsum nihil!</p>
    </div>
</div>
<div class="banner3">
    <img src="../images/slider3.jpg" alt="" >
    <div class="textbox textbox3">
        <h1>Know Your Passion</h1>
        <span></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed libero doloribus autem iure officia ullam, doloremque numquam, molestiae voluptatibus quidem itaque suscipit consequatur ipsum nihil!</p>
    </div>
</div>
<div class="banner4">
    <img src="../images/slider4.jpg" alt="" >
    <div class="textbox textbox">
        <h1>Its Done Guys</h1>
        <span></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed libero doloribus autem iure officia ullam, doloremque numquam, molestiae voluptatibus quidem itaque suscipit consequatur ipsum nihil!</p>
    </div>
</div>
</body>
</html>