<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swiper</title>
    <link rel="stylesheet" href="../stylesheets/swiper.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="../images/user1.jpg" alt="">
            <h2>John Doe</h2>
            <p>Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Veritatis, accusantium saepe.<br>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Magni, fugiat.<br> Molestias optio nobis hic a iusto <br>repellendus cupiditate omnis.</p>
        </div>
    </div>
</body>
</html>