<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swiper</title>
    <link rel="stylesheet" href="../stylesheets/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="testimonials">
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="card">
                      <div class="layer"></div>
                      <div class="content">
                          <p>Lorem ipsum dolor sit amet<br> consectetur adipisicing elit.> Aliquid<br> delectus porro eum, esse corrupti<br> quibusdam harum voluptatem,<br> facere quia accusantium distinctio repellendus<br> ex perferendis consequatur.</p>
                         <div class="imgbox">
                         <img src="../images/user1.jpg" alt="">
                         </div>
                         <div class="detail">
                             <h2>someone famous<br><span>website desi</span></h2>
                         </div>
                        </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js">
    </script>
    <script>
         var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
    </script>
</body>
</html>