body{
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.search-container{
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.search-container:hover> .search-input{
    width:400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size:16px ;

}































