body{
    background: white;
    overflow: hidden;
}

.checkbox{
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 40px;
   height: 40px;
   cursor: pointer;

}

.container label{
    position: absolute;
    width: 40px;
    height: 5px;
    display: block;
    background: rgb(208, 208, 208);
}















