body{
    background: linear-gradient(to right, #2af598,lightblue);
}
.container .wrapper{
    width: 70vw;
    height: 75vh;
    border: 1px solid black;
    margin: 5rem auto;
}
.container .slider-holder{

}




























