body{
    background: linear-gradient(to right, #2af598,lightblue);
}
.container{}
.container .wrapper{
    width: 70vw;
    height: 75vh;
    border: 1px solid black;
    margin: 5rem auto;
}
.container .slider-holder{
  display: grid;
  grid-template-columns: repeat(3,100%);
  height: 100%;
}

.container #slider-image1{
    background-color: green;
}
.container #slider-image2{
    background-color: red;
}
.container #slider-image3{
    background-color: blue;
}
.container .bottom-holder{
    position: absolute;
    bottom: 0%;
    left: 45%;
}


























