body{
  margin: 0;
  background-color: #444;
  min-height: 100vh;
  display: flex;
  align-items: center;
  display: flex;
 justify-content: center;

}

.loader {
  width: 80px;
  height:80px;
  transform:  rotate(45deg);
}
.loader span {
  display: inline-block;
  width: 30px;
  height: 30px;
 position: absolute;
 
}

.loader span:first-child{
  background-color: #dfbe28;
 transform: translate(50px,0);
 animation: shapel 2s ease-in-out infinite;
  animation-direction: alternate-reverse;

}

.loader span:nth-child(2){
  background-color: #d54062;
  transform: translate(50px, 0);
  animation: shapel2 2s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.loader span:nth-child(3){
  background-color: #02798e;
  transform: translate(50px, 50px);
  animation: shapel3 2s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.loader span:last-child{
 background-color: #28df99;
 transform: translate(0, 50px);
 animation: shapel 2s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes shapel{
 0%{ transform: translate(0,0);}

 25%{ translate:translate(50px, 0);}

 50% { transform: translate(50px, 50px);}

 75%{ transform: translate((0, 50px));}

}
@keyframes shapel2{
  0%{ transform: translate(50px,0);}
 
  25%{ translate:translate(50px, 50px);}
 
  50% { transform: translate(0px, 50px);}
 
  75%{ transform: translate((0, 0));}
 
 }

 @keyframes shapel3{
  0%{ transform: translate(50px , 50px);}
 
  25%{ translate:translate(0, 50px);}
 
  50% { transform: translate(0, 0);}
 
  75%{ transform: translate((50px, 0));}
 
 }

 @keyframes shapel4{
  0%{ transform: translate(0 , 50px);}
 
  25%{ translate:translate(0, 0);}
 
  50% { transform: translate(50px, 0);}
 
  75%{ transform: translate((50px, 50px));}
 
 }