

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.testimonials{
    position: relative;
    max-width: 100%;

}

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    min-height: 350px;
    background: #fff;

  }

  .swiper-container-3d .swipe-slide-shadow-left,
  .swiper-container-3d .swipe-slide-shadow-right
  {
     background-image: none;
  }

  .testimonials .card{
      position: relative;
      width: 100%;
      margin: 0 auto;
      background: #333;
      padding:60px 40px;
      textali
    }























